{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "onlyRemoveTypeImports": true
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "./scripts/babel-plugin-import",
    [
      "./babel-plugin-taro/babel-plugin-taro-page-hoc",
      {
        "hocSource": "./src/hoc"
      }
    ]
  ]
}
